---
import node from "../../images/backend/nodejs-1.svg";
import python from "../../images/backend/python.svg";
import django from "../../images/backend/django.svg";
import gateway from "../../images/backend/aws-gateway.svg";
import graphql from "../../images/backend/graphQL.svg";
import lambda from "../../images/backend/lambda.svg";
import TechIcon from "./TechIcon.astro";
---

<div class="flex gap-8 flex-wrap">
  <TechIcon title={"NodeJS"} url={node} width={50} />
  <TechIcon title={"Python"} url={python} width={50} />
  <TechIcon title={"Django"} url={django} width={50} />
  <TechIcon title={"Lambda"} url={lambda} width={50} />
  <TechIcon title={"GraphQL"} url={graphql} width={50} />
  <TechIcon title={"API Gateway"} url={gateway} width={50} />
</div>
