---
import TechIcon from "./TechIcon.astro";
import html from "../../images/frontend/html.svg";
import css from "../../images/frontend/css.svg";
import js from "../../images/frontend/javascript.svg";
import ts from "../../images/frontend/typescript.svg";
import tailwind from "../../images/frontend/tailwind.svg";
/* import sass from "../../images/frontend/sass.svg"; */
import redux from "../../images/frontend/redux.svg";
import mui from "../../images/frontend/mui.svg";
import reactjs from "../../images/frontend/react.svg";
---

<div
  class="flex gap-8 flex-wrap md:flex-nowrap justify-center md:justify-start"
>
  <TechIcon title={"HTML"} url={html} />
  <TechIcon title={"CSS"} url={css} />
  <TechIcon title={"JavaScript"} url={js} />
  <TechIcon title={"TypeScript"} url={ts} />
  <TechIcon title={"React"} url={reactjs} />
  <TechIcon title={"Tailwind"} url={tailwind} />
  <TechIcon title={"Redux"} url={redux} />
  <TechIcon title={"MUI"} url={mui} />
</div>
